<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jorge.testui.database.mock.dao.MockDepositOrderDao">

    <resultMap id="mockDepositOrderResultMap" type="com.jorge.testui.database.mock.entity.MockDepositOrder">
        <id property="id" column="mockDepositOrder_id"/>
        <result property="mockOrderNo" column="mockDepositOrder_mock_order_no"/>
        <result property="bizOrderNo" column="mockDepositOrder_biz_order_no"/>
        <result property="amount" column="mockDepositOrder_amount"/>
        <result property="sucAmount" column="mockDepositOrder_suc_amount"/>
        <result property="mchId" column="mockDepositOrder_mch_id"/>
        <result property="mchKey" column="mockDepositOrder_mch_key"/>
        <result property="keyServerId" column="mockDepositOrder_key_server_id"/>
        <result property="secretKey" column="mockDepositOrder_secret_key"/>
        <result property="goodsMemo" column="mockDepositOrder_goods_memo"/>
        <result property="instalments" column="mockDepositOrder_instalments"/>
        <result property="jumpUrl" column="mockDepositOrder_jump_url"/>
        <result property="notifyUrl" column="mockDepositOrder_notify_url"/>
        <result property="returnUrl" column="mockDepositOrder_return_url"/>
        <result property="tradeDate" column="mockDepositOrder_trade_date"/>
        <result property="tradeTime" column="mockDepositOrder_trade_time"/>
        <result property="businessTime" column="mockDepositOrder_business_time"/>
        <result property="userId" column="mockDepositOrder_user_id"/>
        <result property="userEndIp" column="mockDepositOrder_user_end_ip"/>
        <result property="payBankId" column="mockDepositOrder_pay_bank_id"/>
        <result property="payBankAccount" column="mockDepositOrder_pay_bank_account"/>
        <result property="payAccountName" column="mockDepositOrder_pay_account_name"/>
        <result property="payUserName" column="mockDepositOrder_pay_user_name"/>
        <result property="payUserId" column="mockDepositOrder_pay_user_id"/>
        <result property="payAccountCustNo" column="mockDepositOrder_pay_account_cust_no"/>
        <result property="payBankType" column="mockDepositOrder_pay_bank_type"/>
        <result property="payBankCode" column="mockDepositOrder_pay_bank_code"/>
        <result property="payBankCurrency" column="mockDepositOrder_pay_bank_currency"/>
        <result property="payUserCertType" column="mockDepositOrder_pay_user_cert_type"/>
        <result property="payUserCertNo" column="mockDepositOrder_pay_user_cert_no"/>
        <result property="payUserMobile" column="mockDepositOrder_pay_user_mobile"/>
        <result property="payEndIp" column="mockDepositOrder_pay_end_ip"/>
        <result property="recBankAccount" column="mockDepositOrder_rec_bank_account"/>
        <result property="recBankId" column="mockDepositOrder_rec_bank_id"/>
        <result property="recBankAccountName" column="mockDepositOrder_rec_bank_account_name"/>
        <result property="recBankName" column="mockDepositOrder_rec_bank_name"/>
        <result property="trxCode" column="mockDepositOrder_trx_code"/>
        <result property="userPass" column="mockDepositOrder_user_pass"/>
        <result property="level" column="mockDepositOrder_level"/>
        <result property="dataType" column="mockDepositOrder_data_type"/>
        <result property="version" column="mockDepositOrder_version"/>
        <result property="merchantId" column="mockDepositOrder_merchant_id"/>
        <result property="businessCode" column="mockDepositOrder_business_code"/>
        <result property="custUserid" column="mockDepositOrder_cust_userid"/>
        <result property="appId" column="mockDepositOrder_app_id"/>
        <result property="openId" column="mockDepositOrder_open_id"/>
        <result property="randomStr" column="mockDepositOrder_random_str"/>
        <result property="payType" column="mockDepositOrder_pay_type"/>
        <result property="sign" column="mockDepositOrder_sign"/>
        <result property="typeSource" column="mockDepositOrder_type_source"/>
        <result property="mockStatus" column="mockDepositOrder_mock_status"/>
        <result property="confirmStatus" column="mockDepositOrder_confirm_status"/>
        <result property="mockNotifyStatus" column="mockDepositOrder_mock_notify_status"/>
        <result property="mockNotifyCount" column="mockDepositOrder_mock_notify_count"/>
        <result property="refundReason" column="mockDepositOrder_refund_reason"/>
        <result property="refundSerialNumber" column="mockDepositOrder_refund_serial_number"/>
        <result property="refundType" column="mockDepositOrder_refund_type"/>
        <result property="refundStatus" column="mockDepositOrder_refund_status"/>
        <result property="createTime" column="mockDepositOrder_create_time"/>
        <result property="updateTime" column="mockDepositOrder_update_time"/>
    </resultMap>

    <sql id="mockDepositOrderSqlSelect">
            mockDepositOrder.id as mockDepositOrder_id,
            mockDepositOrder.mock_order_no as mockDepositOrder_mock_order_no,
            mockDepositOrder.biz_order_no as mockDepositOrder_biz_order_no,
            mockDepositOrder.amount as mockDepositOrder_amount,
            mockDepositOrder.suc_amount as mockDepositOrder_suc_amount,
            mockDepositOrder.mch_id as mockDepositOrder_mch_id,
            mockDepositOrder.mch_key as mockDepositOrder_mch_key,
            mockDepositOrder.key_server_id as mockDepositOrder_key_server_id,
            mockDepositOrder.secret_key as mockDepositOrder_secret_key,
            mockDepositOrder.goods_memo as mockDepositOrder_goods_memo,
            mockDepositOrder.instalments as mockDepositOrder_instalments,
            mockDepositOrder.jump_url as mockDepositOrder_jump_url,
            mockDepositOrder.notify_url as mockDepositOrder_notify_url,
            mockDepositOrder.return_url as mockDepositOrder_return_url,
            mockDepositOrder.trade_date as mockDepositOrder_trade_date,
            mockDepositOrder.trade_time as mockDepositOrder_trade_time,
            mockDepositOrder.business_time as mockDepositOrder_business_time,
            mockDepositOrder.user_id as mockDepositOrder_user_id,
            mockDepositOrder.user_end_ip as mockDepositOrder_user_end_ip,
            mockDepositOrder.pay_bank_id as mockDepositOrder_pay_bank_id,
            mockDepositOrder.pay_bank_account as mockDepositOrder_pay_bank_account,
            mockDepositOrder.pay_account_name as mockDepositOrder_pay_account_name,
            mockDepositOrder.pay_user_name as mockDepositOrder_pay_user_name,
            mockDepositOrder.pay_user_id as mockDepositOrder_pay_user_id,
            mockDepositOrder.pay_account_cust_no as mockDepositOrder_pay_account_cust_no,
            mockDepositOrder.pay_bank_type as mockDepositOrder_pay_bank_type,
            mockDepositOrder.pay_bank_code as mockDepositOrder_pay_bank_code,
            mockDepositOrder.pay_bank_currency as mockDepositOrder_pay_bank_currency,
            mockDepositOrder.pay_user_cert_type as mockDepositOrder_pay_user_cert_type,
            mockDepositOrder.pay_user_cert_no as mockDepositOrder_pay_user_cert_no,
            mockDepositOrder.pay_user_mobile as mockDepositOrder_pay_user_mobile,
            mockDepositOrder.pay_end_ip as mockDepositOrder_pay_end_ip,
            mockDepositOrder.rec_bank_account as mockDepositOrder_rec_bank_account,
            mockDepositOrder.rec_bank_id as mockDepositOrder_rec_bank_id,
            mockDepositOrder.rec_bank_account_name as mockDepositOrder_rec_bank_account_name,
            mockDepositOrder.rec_bank_name as mockDepositOrder_rec_bank_name,
            mockDepositOrder.trx_code as mockDepositOrder_trx_code,
            mockDepositOrder.user_pass as mockDepositOrder_user_pass,
            mockDepositOrder.level as mockDepositOrder_level,
            mockDepositOrder.data_type as mockDepositOrder_data_type,
            mockDepositOrder.version as mockDepositOrder_version,
            mockDepositOrder.merchant_id as mockDepositOrder_merchant_id,
            mockDepositOrder.business_code as mockDepositOrder_business_code,
            mockDepositOrder.cust_userid as mockDepositOrder_cust_userid,
            mockDepositOrder.app_id as mockDepositOrder_app_id,
            mockDepositOrder.open_id as mockDepositOrder_open_id,
            mockDepositOrder.random_str as mockDepositOrder_random_str,
            mockDepositOrder.pay_type as mockDepositOrder_pay_type,
            mockDepositOrder.sign as mockDepositOrder_sign,
            mockDepositOrder.type_source as mockDepositOrder_type_source,
            mockDepositOrder.mock_status as mockDepositOrder_mock_status,
            mockDepositOrder.confirm_status as mockDepositOrder_confirm_status,
            mockDepositOrder.mock_notify_status as mockDepositOrder_mock_notify_status,
            mockDepositOrder.mock_notify_count as mockDepositOrder_mock_notify_count,
            mockDepositOrder.refund_reason as mockDepositOrder_refund_reason,
            mockDepositOrder.refund_serial_number as mockDepositOrder_refund_serial_number,
            mockDepositOrder.refund_type as mockDepositOrder_refund_type,
            mockDepositOrder.refund_status as mockDepositOrder_refund_status,
            mockDepositOrder.create_time as mockDepositOrder_create_time,
            mockDepositOrder.update_time as mockDepositOrder_update_time
    </sql>

</mapper>