<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jorge.testui.database.bill.dao.TraTradeDao">

    <resultMap id="traTradeResultMap" type="com.jorge.testui.database.bill.entity.TraTrade">
        <id property="id" column="traTrade_id"/>
        <result property="gid" column="traTrade_gid"/>
        <result property="merchOrderNo" column="traTrade_merch_order_no"/>
        <result property="tradeNo" column="traTrade_trade_no"/>
        <result property="payOrderNo" column="traTrade_pay_order_no"/>
        <result property="businessScene" column="traTrade_business_scene"/>
        <result property="tradeTime" column="traTrade_trade_time"/>
        <result property="finishTime" column="traTrade_finish_time"/>
        <result property="closeTime" column="traTrade_close_time"/>
        <result property="amount" column="traTrade_amount"/>
        <result property="clearAmount" column="traTrade_clear_amount"/>
        <result property="profitAmount" column="traTrade_profit_amount"/>
        <result property="type" column="traTrade_type"/>
        <result property="status" column="traTrade_status"/>
        <result property="sellerUserNo" column="traTrade_seller_user_no"/>
        <result property="sellerUserName" column="traTrade_seller_user_name"/>
        <result property="sellerAccountNo" column="traTrade_seller_account_no"/>
        <result property="buyerUserNo" column="traTrade_buyer_user_no"/>
        <result property="buyerUserName" column="traTrade_buyer_user_name"/>
        <result property="payerUserNo" column="traTrade_payer_user_no"/>
        <result property="payerUserName" column="traTrade_payer_user_name"/>
        <result property="payerAccountNo" column="traTrade_payer_account_no"/>
        <result property="payeeUserNo" column="traTrade_payee_user_no"/>
        <result property="payeeUserName" column="traTrade_payee_user_name"/>
        <result property="payeeAccountNo" column="traTrade_payee_account_no"/>
        <result property="realPayeeUserNo" column="traTrade_real_payee_user_no"/>
        <result property="realPayeeUserName" column="traTrade_real_payee_user_name"/>
        <result property="realPayeeAccountNo" column="traTrade_real_payee_account_no"/>
        <result property="profitType" column="traTrade_profit_type"/>
        <result property="profitStatus" column="traTrade_profit_status"/>
        <result property="refundAmount" column="traTrade_refund_amount"/>
        <result property="refundFeeAmount" column="traTrade_refund_fee_amount"/>
        <result property="refundBankFeeAmount" column="traTrade_refund_bank_fee_amount"/>
        <result property="reconStatus" column="traTrade_recon_status"/>
        <result property="postingFlag" column="traTrade_posting_flag"/>
        <result property="tradeName" column="traTrade_trade_name"/>
        <result property="tradeMemo" column="traTrade_trade_memo"/>
        <result property="userIp" column="traTrade_user_ip"/>
        <result property="macAddress" column="traTrade_mac_address"/>
        <result property="partnerId" column="traTrade_partner_id"/>
        <result property="createTime" column="traTrade_create_time"/>
        <result property="updateTime" column="traTrade_update_time"/>
        <result property="memo" column="traTrade_memo"/>
        <result property="clearStatus" column="traTrade_clear_status"/>
        <result property="posBatchNo" column="traTrade_pos_batch_no"/>
        <result property="posClientNo" column="traTrade_pos_client_no"/>
        <result property="posMerchantNo" column="traTrade_pos_merchant_no"/>
        <result property="merchTwoNumCode" column="traTrade_merch_two_num_code"/>
        <result property="notifyGid" column="traTrade_notify_gid"/>
        <result property="agentId" column="traTrade_agent_id"/>
        <result property="salesmanId" column="traTrade_salesman_id"/>
        <result property="platformType" column="traTrade_platform_type"/>
        <result property="tradeSource" column="traTrade_trade_source"/>
        <result property="serviceBankType" column="traTrade_service_bank_type"/>
        <result property="clearFinishTime" column="traTrade_clear_finish_time"/>
        <result property="bankFee" column="traTrade_bank_fee"/>
        <result property="feePayRole" column="traTrade_fee_pay_role"/>
        <result property="feePayUserNo" column="traTrade_fee_pay_user_no"/>
        <result property="periodNo" column="traTrade_period_no"/>
    </resultMap>

    <sql id="traTradeSqlSelect">
            traTrade.id as traTrade_id,
            traTrade.gid as traTrade_gid,
            traTrade.merch_order_no as traTrade_merch_order_no,
            traTrade.trade_no as traTrade_trade_no,
            traTrade.pay_order_no as traTrade_pay_order_no,
            traTrade.business_scene as traTrade_business_scene,
            traTrade.trade_time as traTrade_trade_time,
            traTrade.finish_time as traTrade_finish_time,
            traTrade.close_time as traTrade_close_time,
            traTrade.amount as traTrade_amount,
            traTrade.clear_amount as traTrade_clear_amount,
            traTrade.profit_amount as traTrade_profit_amount,
            traTrade.type as traTrade_type,
            traTrade.status as traTrade_status,
            traTrade.seller_user_no as traTrade_seller_user_no,
            traTrade.seller_user_name as traTrade_seller_user_name,
            traTrade.seller_account_no as traTrade_seller_account_no,
            traTrade.buyer_user_no as traTrade_buyer_user_no,
            traTrade.buyer_user_name as traTrade_buyer_user_name,
            traTrade.payer_user_no as traTrade_payer_user_no,
            traTrade.payer_user_name as traTrade_payer_user_name,
            traTrade.payer_account_no as traTrade_payer_account_no,
            traTrade.payee_user_no as traTrade_payee_user_no,
            traTrade.payee_user_name as traTrade_payee_user_name,
            traTrade.payee_account_no as traTrade_payee_account_no,
            traTrade.real_payee_user_no as traTrade_real_payee_user_no,
            traTrade.real_payee_user_name as traTrade_real_payee_user_name,
            traTrade.real_payee_account_no as traTrade_real_payee_account_no,
            traTrade.profit_type as traTrade_profit_type,
            traTrade.profit_status as traTrade_profit_status,
            traTrade.refund_amount as traTrade_refund_amount,
            traTrade.refund_fee_amount as traTrade_refund_fee_amount,
            traTrade.refund_bank_fee_amount as traTrade_refund_bank_fee_amount,
            traTrade.recon_status as traTrade_recon_status,
            traTrade.posting_flag as traTrade_posting_flag,
            traTrade.trade_name as traTrade_trade_name,
            traTrade.trade_memo as traTrade_trade_memo,
            traTrade.user_ip as traTrade_user_ip,
            traTrade.mac_address as traTrade_mac_address,
            traTrade.partner_id as traTrade_partner_id,
            traTrade.create_time as traTrade_create_time,
            traTrade.update_time as traTrade_update_time,
            traTrade.memo as traTrade_memo,
            traTrade.clear_status as traTrade_clear_status,
            traTrade.pos_batch_no as traTrade_pos_batch_no,
            traTrade.pos_client_no as traTrade_pos_client_no,
            traTrade.pos_merchant_no as traTrade_pos_merchant_no,
            traTrade.merch_two_num_code as traTrade_merch_two_num_code,
            traTrade.notify_gid as traTrade_notify_gid,
            traTrade.agent_id as traTrade_agent_id,
            traTrade.salesman_id as traTrade_salesman_id,
            traTrade.platform_type as traTrade_platform_type,
            traTrade.trade_source as traTrade_trade_source,
            traTrade.service_bank_type as traTrade_service_bank_type,
            traTrade.clear_finish_time as traTrade_clear_finish_time,
            traTrade.bank_fee as traTrade_bank_fee,
            traTrade.fee_pay_role as traTrade_fee_pay_role,
            traTrade.fee_pay_user_no as traTrade_fee_pay_user_no,
            traTrade.period_no as traTrade_period_no
    </sql>

</mapper>